
@font-face {
    font-family: 'titulo';
    src: url('../resources/fonts/Montserrat-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'subtitulo';
    src: url('../resources/fonts/Montserrat-Light.ttf') format('truetype');
  }

.logo {
    margin: 140px auto 0;
    width: 200px;
    height: 110px;
  }
.nomeapp {
    font-family: 'titulo';
    font-size: 40px;
    margin: 0 auto;
    color: #afccff;
    text-align: center;
    margin: 0;
    height: 30px;
}
.subtitulo{
    padding-top: 0;
    margin: 0;
    color:#afccff;
    text-align: center;
    font-size: 30px;
    font-family: 'subtitulo';
}
.eslogan{
    margin: 0;
    color: black;
    font-family: 'subtitulo';
    text-align: center;
}

.login{
  font-family: 'titulo';
  display: flex;
  margin: 0 auto 5px; 
  width: 60%;
}

.caixa{
  
  height: 5%;
}
.criar {
  font-family: 'titulo';
  display: block;
  margin: 0 auto 5px; 
  margin-bottom: 60px;
  width: 60%; 
}
.caixa {
  padding: 10px; 
  border-radius: 10px; 
  margin: 0 auto 5px; 
  font-family: 'titulo'; 
  display: flex;
  height: 0px; /* Alterei a altura para 50px para garantir que os itens de entrada de texto tenham espaço suficiente */
}
.loginuser {
  margin: 0 auto; /* Centralizar horizontalmente */
  padding: 40px; /* Adicionar preenchimento */
  height: 40%;
}

.botlogin {
  margin: 0 auto;
  width: 70%;
  margin-top: 10px;
  height: 40%;
}

.customButton{
  font-family: 'titulo';
  color: white;
  margin-bottom: 250px;
  width: 90%;
  margin-left: 5%;
  transition-duration: 500ms;
  font-weight: bold;
}
